h1{
    color: aqua;
}
p{
    color: black;
}
ul{
    display: flex;
    flex-direction: row;
}
ul li{
    list-style: none;
    margin-right: 20px;
}
img{
    width: 400px;
    height: 400px;
}
footer{
    background-color: black;
    height: 100px;
}
footer p{
    color: white;
    padding-top: 50px;
    text-align: center;
}